@charset "utf-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Style the header */
header {
  background-color: #2e5cb8;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
div#col1{
 
  float: left;
  padding: 10px;
  height: 100%;
  width: 13%;
  position: relative;
}

div#col2,#col3{
padding-left: 15%;
}

footer {
  background-color: #2e5cb8;
  padding: 5px;
  text-align: center;
}


/* TABLEAU DE MESURE */
div#TabMesure{
text-align: center;
}

table
{
    margin: auto;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}

